ul {
    list-style-type: none;
}

li {
    padding: 10px;
}

.cartIcon h3 {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.cart-container {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    height: 400px;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    background: #2f3c7e;
    color: #fbeaeb;
}

.cart-actions {
    color: white;
    font-size: 20px;
    width: 50px;
    border: none;
    background: rgb(10, 7, 24);
}

.cartMdl>.orderBtn {
    width: 200px;
    background: rgb(41, 10, 77);
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 10%, 10%;
    margin: 1rem;
    padding: 1rem;
}

.cartMdl>.orderBtn:hover {
    background: rgb(39, 24, 56);
}

.cartMdl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    /* bgcolor: background.paper; */
    border: 2px solid #000;
    /* boxShadow: 24; */
    /* p: 4; */
    background-color: #fbeaeb;
}

.cartMdl>.closeBtn {
    font-size: 2rem;
    color: black;
    position: absolute;
    right: 1rem;
}

#modal-modal-title {
    margin-left: 15px;
    margin-top: 10px;
}