.logo {
    height: 92px;
    width: 88px;
    /* margin-left: 10px; */
}

/* .myToolBar {
    text-align: center;
    justify-content: center;
align-items: center;
color: red;
} */

.cart {
    color: white;
}

